$border-radius: 10px;

@mixin icon-bg {
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin absolute-fill {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

:host {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-color: #cccccc;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;

  border-width: 1px;
  border-style: dashed;
  border-color: inherit;
  border-radius: $border-radius;
  box-sizing: border-box;
}

.dropzone {
  flex: 1;
  display: flex;
  padding: 5px;
  cursor: pointer;
}

.preview {
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: $border-radius;
  overflow: hidden;
}

.overlay {
  @include icon-bg;
  @include absolute-fill;

  opacity: 0;
  background-image: url(./drop.svg);
  background-color: rgba($color: #000000, $alpha: 0.1);

  transition: opacity 100ms;
}

.no-value {
  .preview {
    @include icon-bg;
    background-image: url(./no-value.svg);
  }
}

.drag-active {
  .overlay {
    opacity: 1;
  }

  &.no-value {
    .preview {
      background-image: none;
    }
  }
}
