$logo-size: 56px;

:host {
  display: inline-block;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background-image: url('./assets/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  display: block;
  width: $logo-size;
  height: $logo-size;
}
